language: java
jdk: oraclejdk8
services:
- docker
cache:
  directories:
  - "$HOME/.m2"
env:
  global:
  # DOCKER_EMAIL:
  - secure: aZzC4WdtmaCM6N8sCK7IHCCdpKIXMNVuhnigBhSqzyUYi54IyY3DUbGBKwagT0ESSTbWg8rCkj6tqdgx/Eb6vVrXQzB+ze27ZlGERS1ec8M4wAAfco8HptfaUjEJejUwO7OSIR4nzObbl5mGaQu36DatXI2XPA92jkioSRqjBZwHScrsSjskPo6aUnUDgxUCNyoxLC0Ag+kS3SWzRsnDEcQX2IPJ2Q6NUtzTznrCaG82JNUGsdN96xRq+GnIDP8QZE7AczPluSotL+7wizVPplFiUAx/Z1uXxCRe3U7eubty3Q7gBUr2fYrFPHwEtuxD1+CzeseoB3VyjUHGY07Qck/FesT1zgMCYfDV0+IvTnrBC95vY3mYZH9Jku5I4mScJ/Qdow1SriVY45C9yWEw1+gRgdM5BWw34XbY1w28BeblvqnLsizJTc3RE8z0xOa779MTcuSdYimxnkCN8YvxsznxW8vEDu3/+0WRB2WHCw2EjylHED0cKFVy6r+j8v5iCqsxNKyIEccXpu9vWWKo+1YGAtYtVPvJH0jLB2fL4VF9IQzUKKUSpL3Bjjw0Bc9V2CHbZn2iPfDCZg8Ke7C82jCPUyAttHYh8vr8UakWQVMzTY9rX1qiQLS/HalCW0edFSr2xXMO9tJGR27d3/RlewizZtrKcHoDiM9kfO9jSOA=
before_install:
- export PATH=$PATH:$HOME/.local/bin
after_success:
- pip install --user awscli
- export PATH=$PATH:$HOME/.local/bin
- eval $(aws ecr get-login --region us-east-2 --no-include-email)
- docker build -f Dockerfile -t transliteration-app .
- docker tag transliteration-app:latest 996597326211.dkr.ecr.us-east-2.amazonaws.com/transliteration-app:latest
- docker push 996597326211.dkr.ecr.us-east-2.amazonaws.com/transliteration-app:latest
notifications:
  email:
    recipients:
    - DOCKER_EMAIL
    on_success: never
    on_failure: always
