language: java
jdk: oraclejdk8
services:
- docker
cache:
  directories:
  - "$HOME/.m2"
env:
  global:
  # DOCKER_EMAIL:
  - secure: aZzC4WdtmaCM6N8sCK7IHCCdpKIXMNVuhnigBhSqzyUYi54IyY3DUbGBKwagT0ESSTbWg8rCkj6tqdgx/Eb6vVrXQzB+ze27ZlGERS1ec8M4wAAfco8HptfaUjEJejUwO7OSIR4nzObbl5mGaQu36DatXI2XPA92jkioSRqjBZwHScrsSjskPo6aUnUDgxUCNyoxLC0Ag+kS3SWzRsnDEcQX2IPJ2Q6NUtzTznrCaG82JNUGsdN96xRq+GnIDP8QZE7AczPluSotL+7wizVPplFiUAx/Z1uXxCRe3U7eubty3Q7gBUr2fYrFPHwEtuxD1+CzeseoB3VyjUHGY07Qck/FesT1zgMCYfDV0+IvTnrBC95vY3mYZH9Jku5I4mScJ/Qdow1SriVY45C9yWEw1+gRgdM5BWw34XbY1w28BeblvqnLsizJTc3RE8z0xOa779MTcuSdYimxnkCN8YvxsznxW8vEDu3/+0WRB2WHCw2EjylHED0cKFVy6r+j8v5iCqsxNKyIEccXpu9vWWKo+1YGAtYtVPvJH0jLB2fL4VF9IQzUKKUSpL3Bjjw0Bc9V2CHbZn2iPfDCZg8Ke7C82jCPUyAttHYh8vr8UakWQVMzTY9rX1qiQLS/HalCW0edFSr2xXMO9tJGR27d3/RlewizZtrKcHoDiM9kfO9jSOA=
  # AWS_CREDS:
  - secure: M0fJybBAPIvpvKOShY7WPE08pmkpKisRug70l1lNkYXbJwdbxb4QHUwGSF3FHFXclFyAWAOv4ssXqyP2GbmW91/Cjm4Qj7OeJMuxXTbrHS74YOXLJ8z/uO4mZknXGM/uflsddgVp5yYhT0lqUSChNQq9VvIabPcYVCpydSR1h0RnspIjveoAFSC7RiK/i+cdEk2iY+Rsb2gAX+kTFj1cWHKhwkVVXMkC5X28FjBuD82PX1BxHJ+TwtOgIr3cna105QlboebpQVweY5RgxoAmEjoBJydbO+VvZ6wqEEpOBBRky7qi3jfSxmdxSf70fU5ljYTj+Lrk8F+Iz/P5/3RnMmxN6RP3oBjJVHwMpPfQOUSJYa4STQ25tlqP0cYAZQHPnP5CTrHMbWs/Xw0zRXU3a2tdlBXh8Cux3FyD/lJEqqF1ubhTil/xTsGZJtfxQSH8NuAvR/BHuvrPLtHJT8zOYKIkd3gVrI4ea69h17L0JbNJvX3bJEguwi0gr0qePBtEHJ9w9dAjGuRrYkK5VlcRHKmWEuw/DLIz7QxU+zL6nxbh/a3SEeLwHTMQwZZ9LGS+Vif8BAHpTxNJpv7ljVOQy5UsVBAZd4ndmn6bDN29oW8NkkOkD0qoVqgqD9Ufv2AjlV/TEwS7vSvWUopJphVZMjDbxE2Q0lUtFUstUOaKMXs=
  - secure: nOQWn3p58K0bnPJwhr+onOsVthWFF6xUa0YRAu13+jCV8H67eSj8b+9VNJtzlH5mLa54DKbM3njb6gjTmnzmJKt6bX93/Ctk3x/QGydaxD/cPl/6oXZc6fn+rGXp7W6qbDMcamFni4NjRJNyhROXtpH6Bc0tccFvJdoBMPyV3Yies2IV0St+bUo+uafOZpjQmAaHEHSoTFMMLvK814Yc9WXhO8+HMzEw2vOg3v0taFobL/+z0qalFAH8XTSmVCDfpwAUQvvtZg6Kyi49Mg5sMjXqISmP+Bsj2/YKopszK7LNMfbSkJB7foBdsbI9d6XENVIwufhhzzVO4TPQir/LUM4lLNqCwD/nhxaBboKQoW/eyPtrMUDKmsEdVueZMtpmNMEVn39zMHH8yqok3mkOweuEqWxeufdMh5j5BDoe8YYdn9sjycB+rUMy2ue6pysqnLKrAulqh7ADz9uLgF0MtbT+oznRrzaT+dYRlZv9BsQIQTa4gMGl9pHv5GD5eusF3PoiYPE7+X/oGumkO6Nb1LDjJ6JcIcvppHCWm/+usrnwFga+VxrohHLS4u3U9UnX+YfGR8VaqSUD0M95U91lsUu7eG3kQaOtia68IBfelDcJK7Tx0zxxE9uTyRVswX3ff5UVJiOm2jG5tRWeNEmwYZGZ+2MnWKRn50XHJlTInwc=
before_install:
- pip install --user awscli
- export PATH=$PATH:$HOME/.local/bin
after_success:
- aws ecr get-login --no-include-email --region us-east-2 | sed 's|https://||'
- docker build -f Dockerfile -t transliteration-app .
- docker tag transliteration-app:latest 996597326211.dkr.ecr.us-east-2.amazonaws.com/transliteration-app:latest
- docker push 996597326211.dkr.ecr.us-east-2.amazonaws.com/transliteration-app:latest
notifications:
  email:
    recipients:
    - DOCKER_EMAIL
    on_success: never
    on_failure: always
